@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@400;500&family=Open+Sans:wght@300&family=Poppins:wght@300;700&family=Raleway:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  width: 90%;
  margin: 0 auto;
}

.box {
  display: block;
  background: steelblue;
  width: 55px;
  height: 55px;
  margin: 10px 0;
  margin-left: 5px;
  text-align: center;
  line-height: 55px;
  color: #fff;
  font-weight: bold;
}

.container {
  margin-left: -5px;
  padding: 10px 0;
  border: 3px solid lightcoral;
}

/* div:only-of-type {
  background: crimson;
} */

/* .box:first-of-type {
  background: lawngreen;
} */

/* .box:nth-of-type(2) {
  background: lawngreen;
} */

/* .box:only-child {
  background: slateblue;
} */

/* .container :only-child {
  background: slateblue;
} */

/* .container :first-child {
  background: salmon;
} */

/* p:first-child {
  background: seagreen;
} */
/* para que este funciona debo poner
el p en el primer lugar del contenedor */

/* .box:first-child {
  background: salmon;
} */

/* .box:last-child {
  background: tomato;
} */

/* div:nth-child(4) {
  background: skyblue;
} */

/* .container :nth-child(even) {
  background: seagreen;
} */

/* body :nth-child(4) {
  background: slateblue;
} */

/* body :nth-child(5n) {
  background: slateblue;
} */
/* cada 5 elementos */

.container :nth-last-child(1) {
  background: sandybrown;
}
