@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@400;500&family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;700&family=Raleway:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --height-nav: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  outline: 2px solid crimson;
  height: 500px;
  width: 90%;
  margin: 60px auto;
}

.element {
  background: skyblue;
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 10px;
  /* transform: translateX(100px); */
  /* transform: translateY(200px); */
  /* transform: translate(200px, 200px); */
  /* transform: rotate(25deg); */
  transform: scale();
  transition: 0.4s;
}

.container:hover .element {
  /* transform: translateX(100%); */
  /* transform: translateY(200px); */
  /* transform: translate(200px, 200px); */
  /* transform: rotate(0.6turn); */
  /* transition: 0.4s; */
}
