@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@400;500&family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;700&family=Raleway:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --height-nav: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: skyblue;
}

.card {
  width: 300px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -20px -20px 0px 0px #fb968b;
}

.card__title {
  border-bottom: 3px solid salmon;
  padding-bottom: 7px;
  margin-bottom: 10px;
}

/* p::selection {
  background: crimson;
  color: #fbff00;
} */

/* *::selection {
  color: #fff;
  text-shadow: 0 0 6px black;
} */

/* p::first-line {
  color: blue;
  font-size: 50px;
} */

/* p::first-letter {
  font-weight: 600;
  font-size: 2rem;
} */

input[type="text"] {
  margin-left: 20px;
  padding: 15px 3px;
  background: slateblue;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
}

input[type="text"]::placeholder {
  color: #ffffff;
}
