@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@400;500&family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;700&family=Raleway:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
  --height-nav: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* una transicion nos permite animas los cambios de propiedades entre 2 estados de un elemento */
/* consideraciones:
-Los elementos inline no se pueden animar
-No todas las propiedades son animables
-
*/

.container {
  outline: 1px solid #000;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.element {
  background: tomato;
  width: 120px;
  height: 120px;
  color: #fff;
  font-family: Arial;
  position: relative;
  left: 0;
  clip-path: circle(70%);
  /* transition: all 1s; */
  /* transition es un shorthand porque esta compuesta de:  */
  /*  */

  /* transition-property: clip-path, transform;
  transition-duration: 0.5s, 1s;
  transition-timing-function: ease-in;
  transition-delay: 0s, 0.5s; */

  /* para hacer todo lo anterior pero con un shorthand usamos solo transition y separamos con , */
  /* property|duration|timing-function|delay */
  transition: clip-path, 0.5s ease-in 0s, transform 1s ease-in 0.5s;
}

/* .element:hover {
  left: 80px;
  background: steelblue;
} */

.container:hover .element {
  /* background: steelblue; */
  clip-path: circle(50%);
  transform: scale(0.5);
}
